.canvas{
    width: 100%;
    height: 100%;
    background: rgb(187,171,140);
    background: linear-gradient(0deg, rgba(187,171,140,1) 0%, 
    rgba(222,208,182,1) 44%, rgba(250,238,209,1) 81%, rgba(253,247,228,1) 100%);
}