/* General Structure  */

#root {
  width: 100%;
  height: 100%;
  margin: auto auto;
  text-align: center;
}

.topBarDiv{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 15%;
  /* border: 5px solid #73AD21; */
  background-color: gray;
  z-index: 200;
}

.statsMenuDiv{
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 20%;
  height: 85%;
  background-color: antiquewhite;
  z-index: 200;
}

.canvasDiv{
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 85%;
  background-color: white;
  z-index: 0;
}